<div class="container row align-item-center">
    <div class="col-md-9 col-12">

        <form>

            <div class="mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="user.nome">
            </div>

            <div class="mb-3">
                <label for="usuario" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="user.usuario">
            </div>

            
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" [(ngModel)]="user.senha">
            </div>


            <div class="d-grid gap-2">
                <button (click)="cadastrar()" class="btn btn-success" type="button">Salvar</button>

            </div>


        </form>
    </div>



</div>